/.idea
/node_modules
/packages/redis/dist
/packages/hono/dist
/packages/express/node_modules
/packages/core/dist
/packages/express/dist
/packages/hono/node_modules
/packages/redis/node_modules
/docs/reference
/docs/.DS_Store
/packages/core/node_modules
.DS_Store
